/* Regole Generali */

body{
    background-color: #f5f5f1;
}

/* Container Regole*/

#container{
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    /* DEBUG */
    /* background-color: blue; */
}

/* Titolo Regole */

.titolo{
    width: 40%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    /* DEBUG */
    /* background-color: red; */
}

/* Paragrafo Regole */

.paragrafo{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    /* DEBUG */
    /* background-color: green; */
}

/* Container-membri Regole */

#container-membri{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    /* background-color: red; */
}

.membri-team-carta{
    margin: 10px;
    margin: 20px auto;
    width: calc( 100% / 6 ) - 10px;
    background-color: white;
    /* DEBUG */
    /* background-color: green; */
}

img{
    width: 100%;
    background-color: white;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}